/* variables */

:root {
  --fuentePrincipal: 'Secular One', sans-serif;
  --azul: #0d6efd;
  --celeste: #0dcaf0;
  --violeta: #6610f2;
  --rojo: #dc3545;
  --verde: #198754;
  --verdeClaro: #20c997;
  --blancEsp: #e1e1e1;
  --negroEsp: #1d1c1c;
  --radius: 0.5rem;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
}

/* globales */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
}
body {
  font-family: var(--fuentePrincipal);
}

a {
  text-decoration: none;
}

.header {
  background-color: var(--azul);
}
.icono_logo {
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
}
.icono_logo img {
  margin-bottom: 0.8rem;
  margin-right: 0.2rem;
}

footer {
  margin-top: 7rem;
  background-color: var(--negroEsp);
}

/* CARGAR MESA */

.boton_orden {
  background-color: var(--azul);
  color: white;
  text-transform: uppercase;
  padding: 1.5rem;
  border: 2px solid aqua;
  border-radius: 25%;
}
.boton_orden:hover {
  background-color: #19fcb0dc;
  border: 2px solid var(--azul);
}

.modal_orden {
  border-radius: 25px;
}

h2.modal-title {
  font-size: 2rem;
}

/*   botón Dark Mode   */

/* CALCULADORA */

.contenedor_calculadora {
  display: flex;
  justify-content: center;
  margin-left: 0.2rem;
  align-items: flex-start;
  height: 100vh;
}

.calculadora {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 160px repeat(5, 75px);
  background-color: var(--celeste);
  padding: 15px;
  border-radius: 32px;
  box-shadow: 0px 0px 0px 5px var(--negroEsp);
}

.calculadora button {
  color: var(--blancEsp);
  cursor: pointer;
  margin: 5px;
  padding: 0px;
  border-radius: 32px;
  font-size: 1.5em;
  border: none;
  background-color: var(--azul);
  box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #0077ff1f;
}
.calculadora button:active {
  background-color: var(--celeste);
}
.calculadora button:focus {
  outline: none;
}

.pantalla_calculadora {
  color: var(--blancEsp);
  grid-column: 1 /-1;
  font-size: 2.5rem;
  padding: 16px;
  display: flex;
  margin: 10px 10px 20px;
  flex-direction: column;
  align-items: flex-end;
  background-color: #363636;
  border-radius: 32px;
  text-align: right;
  justify-content: space-between;
  word-break: break-all;
  box-shadow: 0px 0px 0px 10px #00000033;
}

.col_2-calculadora {
  grid-column: span 2;
}

#valor-superior {
  font-size: 1.5em;
}

#valor-inferior {
  font-size: 2em;
}

/* Hoja de prueba */

h1,
h2 {
  text-align: center;
}

/* Lista Notas */

#contenido {
  margin-top: 40px;
}
.borrar-nota,
.borrar-nota:hover {
  float: right;
  cursor: pointer;
  color: var(--rojo);
  font-weight: bold;
}

.error {
  background-color: var(--rojo);
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  max-width: 400px;
  margin: 0 auto;
  color: var(--blancEsp);
  border-radius: 15%;
}

/* RESERVAR MESAS */
.borde-arriba {
  border-top: 3px solid var(--azul);
}

.contenedor-reservas {
  border-radius: 5%;
}

.titulo-reserva {
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.detalles-reserva {
  margin-top: 0.3rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lista-reservas .reserva {
  border-bottom: 1px solid var(--blancEsp);
  padding: 2rem;
  padding-bottom: 3rem;
}
.lista-reservas .reserva:last-of-type {
  border-bottom: 0;
}

.lista-reservas .reserva p {
  margin: 0;
}

.lista-reservas .reserva span {
  font-weight: bold;
}
#detallesReserva {
  height: 200px !important;
}

svg {
  width: 21px;
}

/* HERRAMIENTAS */
.herramientasTitulo {
  color: white;
}

.letraNegra {
  color: var(--negroEsp);
}
.swal2-styled.swal2-confirm {
  border: 2px solid var(--blancEsp) !important;
  border-radius: 25% !important;
  background: initial;
  background-color: var(--azul) !important;
  color: #fff;
  font-size: 1em;
}

.swal2-styled.swal2-cancel {
  border: 2px solid var(--blancEsp) !important;
  border-radius: 25% !important;
  background: initial;
  background-color: #6e7881;
  color: #fff;
  font-size: 1em;
}

/*Menu*/

/*  global classes */

.btnMenu {
  text-transform: uppercase;
  background: transparent;
  color: var(--verdeClaro);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--azul);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btnMenu:hover {
  color: var(--verdeClaro);
  background: var(--azul);
}
/* section */
.section {
  padding: 5rem 0;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Menu
===============
*/

.menu {
  padding: 5rem 0;
}
.tituloProductos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.botonesOcultar {
  padding: 0 1rem;
  border: 2px solid var(--verdeClaro);
  border-radius: 50%;
}

#mostrar {
  font-size: 2.5rem;
  color: var(--azul);
  cursor: pointer;
  margin-bottom: 0;
}

#ocultar {
  font-size: 2.5rem;
  color: var(--azul);
  cursor: pointer;
  display: none;
  margin-bottom: 0;
}
#aOcultar {
  display: none;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--verdeClaro);
  margin-left: auto;
  margin-right: auto;
}
.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.btnFiltros {
  background: transparent;
  border-color: var(--verdeClaro);
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: var(--radius);
  padding: 0.375rem 0.75rem;
  color: var(--azul);
  cursor: pointer;
  transition: var(--transition);
}
.btnFiltros:hover {
  background: var(--verdeClaro);
  color: var(--blancEsp);
}
.seccionPrincipal {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 2rem 2rem;
  justify-items: stretch;
}
.menuProducto {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  justify-items: stretch;
}
.imagenProducto {
  padding: 0.5rem;
  height: 200px;
  border: 0.25rem solid var(--verdeClaro);
  border-radius: var(--radius);
}
.infoProducto header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--verdeClaro);
  font-size: 2rem;
}
.infoProducto h4 {
  margin-bottom: 0.5rem;
}
.precioProducto {
  color: var(--azul);
}
.textoProducto {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .menuProducto {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .imagenProducto {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .seccionPrincipal {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .imagenProducto {
    height: 150px;
  }
}
