body {
  font-family: 'Secular One', sans-serif;
}

.header {
  background-color: blue;
}
.icono_logo {
  background-color: white;
  padding: 0.5rem;
  border-radius: 50%;
}
.icono_logo img {
  margin-bottom: 0.8rem;
  margin-right: 0.2rem;
}
footer {
  margin-top: 7rem;
  background-color: black;
}

.boton_orden {
  background-color: blue;
  color: white;
  text-transform: uppercase;
  padding: 1.5rem;
  border: 2px solid aqua;
}
.boton_orden:hover {
  background-color: aqua;
  border: 2px solid blue;
}

.modal_orden {
  border-radius: 25px;
  border: 2px solid blue;
}

h2.modal-title {
  font-size: 2rem;
}
